///
// APPLICAZIONE Archivio
// di Carlo Sala
// Via Plinio 6 - Torno (Co)
// Tel. 031 417092 Cell. 3207591458
// Mail: info@carlosala.net
// 28/11/2019
// License:   	wxWidgets license (www.wxwidgets.org)
//
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "/wx/msw/file.manifest"
aaaaaaaa ICON "Db.ico"
// this icon is used with wxFrame::SetIcon()
sample ICON "Db.ico"