///
// APPLICAZIONE Archivio
// di Carlo Sala
// Via Plinio 6 - Torno (Co)
// Tel. 031 417092 Cell. 3207591458
// Mail: info@carlosala.net
// 28/11/2019
// License:   	wxWidgets license (www.wxwidgets.org)
//
#define wxUSE_NO_MANIFEST 0
#define wxUSE_DPI_AWARE_MANIFEST 2
#if !defined(__llvm__)
#include "wx/msw/wx.rc"
#endif
aaaaaaaa ICON "Db.ico"
// this icon is used with wxFrame::SetIcon()
sample ICON "Db.ico"
